body {
  position: relative;
  font-family: "Roboto", sans-serif;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.logo {
  color: black;
}
