.header {
  position: sticky;
  top: 0;
  left: 0;
  border-bottom: 1px solid #000;
  background-color: rgba(255, 255, 255, 1);
  z-index: 10;

  &__body {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
