.selected-user {
  margin: 0 auto;
  font-size: 24px;
  text-align: center;

  &__title {
    font-size: 30px;
  }

  &__list {
    width: 500px;
    margin: 0 auto 30px;
  }

  &__item {
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
  }

  &__label-married {
    margin-right: 165px;
  }

  &__buttons {
    button {
      margin: 0 20px;
      text-align: center;
    }
  }
}
