.btn {
  background-color: white;

  &:hover {
    cursor: pointer;
    background-color: black;
    color: white;
  }

  &_big {
    font-size: 32px;
    border: 1px solid black;
    border-radius: 10px;
  }

  &_small {
    font-size: 24px;
    border: 1px solid black;
    border-radius: 5px;
  }

  .btn_delete,
  .btn_edit,
  .btn_update,
  .btn_cancel,
  .btn_save {
    &:hover {
      cursor: pointer;
    }
  }
}
