.new-user {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  background-color: rgba(0, 0, 0, 0.5);
  overflow: scroll;

  &_active {
    display: block;
  }

  &__block {
    width: 600px;
    margin: 200px auto 150px;
    padding: 40px;
    border: 1px solid black;
    border-radius: 10px;
    background: rgba(255, 255, 255, 1);
    z-index: 10;
    font-size: 24px;
  }

  &__close {
    float: right;
    font-size: 36px;

    &:hover {
      cursor: pointer;
    }
  }

  &__title {
    font-size: 36px;
    text-align: center;
  }

  &__item {
    margin-bottom: 22px;
    display: flex;
    justify-content: space-between;
  }

  &__input {
    width: 350px;
    border: 1px solid black;
    border-radius: 5px;
  }

  &__label-married {
    width: 150px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__buttons {
    text-align: center;
  }

  &__status {
    text-align: center;
  }
}
