.users-list {
  margin-bottom: 100px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

  &__item {
    box-sizing: border-box;
    width: calc(50% - 10px);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;

    &_delete {
      display: none;
    }

    &:hover {
      box-shadow: 0px 0px 18px 10px rgba(92, 53, 193, 0.2);
      cursor: pointer;
    }
  }

  &__info {
    margin: 5px 0;
    font-size: 20px;
  }
}
